<% if @history_list.blank? %>
  <div class="alert alert-secondary" role="alert">
    No History Captured Yet!
  </div>
<% else %>
  <h6 class="display-8 text-center"><%= "History For #{params[:currency].upcase}" %></h6>
  <%= render partial: "chart", locals: { currency: @chart_data, currency_type: params[:currency].upcaseg } %>
  <%= render partial: "listing", locals: { history_list: @history_list } %>
<% end %>
